.product-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.gray-whity-color table,
.gray-whity-color thead,
.gray-whity-color tbody,
.gray-whity-color tr,
.gray-whity-color th,
.gray-whity-color td {
    background-color: #F1F2F3;/* Adjust color as needed */
}

.gray-whity-color,
.gray-whity-color > * {
    background-color: #f0f0f0; /* Adjust color as needed */
}

.selective-blue{
    background-color:  hsl(210, 69%, 25%)
 }
 
 .selective-blue-2{
     background-color:  hsl(210, 69%, 19%);
 }
 
 .selective-blue-3 {
     background-color: hsl(210, 69%, 35%);
 } 


.forest-green{
    /*background-color: #0B6623;*/
    background-color: #006600;
}

.custom-red{
    background-color: #7C0A02;
}

 .custom-button{
    color: #f0f0f0;
 }

 
