<div class="card p-3 shadow d-flex   gray-whity-color" *ngIf="productsPage$ | async as productsPage">
    <div class="card-header  d-flex justify-content-between align-items-center ">
      <h3 class="mb-0 " style="color: hsl(210, 69%, 25%);">Manage Products</h3>
      <div class="mt-2">
        <button class="btn btn-sm selective-blue custom-button" routerLink="/admin/create-product"><i class="fa-solid fa-circle-plus"></i> Add</button>
        <button class="btn btn-sm forest-green custom-button ms-2"><i class="bi bi-filetype-csv "></i> Export csv</button>
        <button class="btn btn-sm forest-green custom-button ms-2"><i class="fa-sharp fa-regular fa-file-excel"></i> Export excel</button>
        <button class="btn btn-sm custom-red custom-button ms-2"><i class="fa-sharp fa-solid fa-file-pdf"></i> Export pdf</button>
      </div>
    </div>
    <div class="card-body gray-whity-color">
      <table class="table table-sm ">
        <thead>
          <tr>
            <th>ID</th>
            <th>Main Image</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Enabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of productsPage.productDTOS">
            <td>{{ p.id }}</td>
            <td><img src="{{productsHost+'/'+p.id+'/image'}}" alt="Product Image" class="img-fluid product-image"></td>
            <td>{{ p.alias }}</td>
            <td>{{p.brand.name}}</td>
            <td>{{p.category.name}}</td>
            <td>{{ p.enabled }}</td>
            <td>
              <button class=" btn btn-sm selective-blue custom-button" (click)="onGetProductDetails(p.id)"><i class="fa-solid fa-circle-info"></i> Details</button>
              <button class="btn btn-sm selective-blue custom-button ms-2"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
              <button class="btn btn-sm btn-danger ms-2"><i class="fa-solid fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer shadow">
        <ul class="nav mt-2">
            <li *ngFor="let item of [].constructor(productsPage.totalPages); let page=index;">
                <a [ngClass]="page==currentPage ? 'btn selective-blue custom-button' :'btn btn-secondary'"
                    (click)="goToPage(page)" class="nav-link" class="ms-2">{{page +1}}</a>
            </li>
        </ul>
    </div>
  </div>
  