<div class="card p-3 shadow d-flex  bg-light custom-gray-white">
    <h4><button class="btn btn-sm custom-blue white-text" routerLink="/admin/users"> <i class="bi bi-arrow-left-circle-fill h6"></i> Back</button></h4>
    <div class="card-body custom-gray-white" *ngIf="user | async as user;">
       <div class="row">
             <div class="col-md-3">
            <div class="card custom-gray-white">
                <div class="card-body  d-flex flex-column align-items-center">
                    <img class="img-fluid profile-image " src ="{{usersHost+'/'+user.id+'/image'}}" alt="User Image">
                    <div class="text-center mt-3">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <h6>{{user.email}}</h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8 custom-gray-white">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.firstName}} {{user.lastName}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.email}}  
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Phone</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.address}}  
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Mobile</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.address}}  
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Address</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{user.address}}  
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-sm custom-orange white-text" >Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>