.selective-blue{
    background-color:  hsl(210, 69%, 25%)
 }
 
 .selective-blue-2{
     background-color:  hsl(210, 69%, 19%);
 }
 
 .selective-blue-3 {
     background-color: hsl(210, 69%, 35%);
 } 

.go-back-button{
    color:white;
}

.go-back-button:hover{
    color:aliceblue;
}