<div *ngIf="categoriesPage$ |async  as categoriesPage" class="card-body gray-whity-color">
    <div class="card p-3 shadow d-flex   gray-whity-color">
        <div class="card-header  d-flex justify-content-between align-items-center">
            <h3 class="mb-0 blue-text">Manage Categories</h3>
            <div>
                <button class="custom-blue custom-button btn btn-sm" routerLink="/admin/create-user"><i
                        class="bi bi-person-fill-add "></i> Add Category</button>
                <button class="btn btn-sm custom-green custom-button ms-2"><i class="bi bi-filetype-csv "></i> Export
                    csv</button>
                <button class="btn btn-sm custom-green custom-button ms-2"><i
                        class="fa-sharp fa-regular fa-file-excel"></i>
                    Export excel</button>
                <button class="btn btn-sm custom-red custom-button ms-2"><i class="fa-sharp fa-solid fa-file-pdf"></i>
                    Export pdf</button>

            </div>
        </div>
        <div class="card-body gray-whity-color">
            <div class="container d-flex flex-wrap align-items-center">
                <div class="m-2 myCard" *ngFor="let cat  of categoriesPage.categoryDTOS">
                    <div class="">
                        <div class="card-body ">
                            <td><img class="img-fluid rounded-image " src="{{categoriesHost+'/'+cat.id+'/image'}}"
                                    alt="{{cat.image}}" alt=""></td>
                            <h5>{{cat.name}}</h5>
                            <h6>{{cat.alias}}</h6>
                            <div class="d-flex justify-content-between w-100 mt-3 mb-1">
                                <button class="btn btn-sm custom-button custom-blue  ">Edit Category</button>
                                <button class="btn btn-sm custom-button custom-red ms-2"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer gray-whity-color">
            <ul class="nav mt-2">
                <li *ngFor="let item of [].constructor(categoriesPage.totalPages); let page=index;">
                    <a [ngClass]="page==currentPage ? 'btn custom-button custom-blue' :'btn btn-secondary'" (click)="goToPage(page)"
                        class="nav-link" class="ms-2">{{page +1}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>