<div class="card " *ngIf="brandsPage$ |async as brandPage ">
    <div class="card-header text-bg-dark d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Manage Brands</h3>
        <div>
            <button class="btn btn-success" routerLink="/admin/create-user"><i class="bi bi-person-fill-add h5"></i></button>
            <button class="btn btn-secondary ms-2"><i class="bi bi-filetype-csv h5"></i></button>
            <button class="btn btn-secondary ms-2"><i class="bi bi-file-earmark-excel-fill h5"></i></button>
            <button class="btn btn-secondary ms-2"><i class="bi bi-file-earmark-pdf-fill h5"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-sm" *ngIf="brandPage.brandDTOS">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Logo</th> 
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let b of brandPage.brandDTOS">
                <tr>
                    <td>{{b.id}}</td> 
                    <td><img alt="{{b.logo}}" src="{{host +'/'+ b.id +'/image'}}" class="img-fluid brand-image"/></td>
                    <td>{{b.name}}</td>
                    <td>
                        <button class="btn btn-sm btn-warning me-2">Edit</button>
                        <button class="btn btn-sm btn-danger me-2">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-bg-dark">
        <ul class="nav mt-2">
            <li *ngFor="let item of [].constructor(brandPage.totalPages); let page=index;">
                <a [ngClass]="page==currentPage ? 'btn btn-primary' :'btn btn-secondary'"
                    (click)="goToPage(page)" class="nav-link" class="ms-2">{{page +1}}</a>
            </li>
        </ul>
    </div>
</div>
