<div class="card p-3 shadow d-flex   gray-whity-color " *ngIf="brandsPage$ |async as brandPage ">
    <div class="card-header  d-flex justify-content-between align-items-center">
        <h3 class="mb-0 blue-text">Manage Brands</h3>
        <div>
            <button class="custom-blue custom-button btn btn-sm" routerLink="/admin/create-user"><i
                    class="bi bi-person-fill-add "></i> Add Brand</button>
            <button class="btn btn-sm custom-green custom-button ms-2"><i class="bi bi-filetype-csv "></i> Export
                csv</button>
            <button class="btn btn-sm custom-green custom-button ms-2"><i class="fa-sharp fa-regular fa-file-excel"></i>
                Export excel</button>
            <button class="btn btn-sm custom-red custom-button ms-2"><i class="fa-sharp fa-solid fa-file-pdf"></i>
                Export pdf</button>

        </div>
    </div>
    <div class="card-body gray-whity-color" *ngIf="brandPage.brandDTOS">


        <div class="container d-flex flex-wrap align-items-center">
            <div class="m-2 myCard" *ngFor="let b of brandPage.brandDTOS">
                <div class="">
                    <div class="card-body">
                        <td><img class="img-fluid rounded-image " src="{{host+'/'+b.id+'/image'}}" alt="{{b.logo}}"
                                alt=""></td>
                        <h5>{{b.name}}</h5>
                        <div class="d-flex justify-content-between w-100 mt-3">
                            <button class="btn btn-sm custom-button custom-yellow ">Edit brand</button>
                            <button class="btn btn-sm custom-button custom-red ms-2"><i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="card-footer gray-whity-color">
        <ul class="nav mt-2">
            <li *ngFor="let item of [].constructor(brandPage.totalPages); let page=index;">
                <a [ngClass]="page==currentPage ? 'btn custom-blue custom-button' :'btn btn-secondary'" (click)="goToPage(page)"
                    class="nav-link" class="ms-2">{{page +1}}</a>
            </li>
        </ul>
    </div>
</div>