.rounded-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.rounded-image:hover{
    transform: scale(1.1);
}



.gray-whity-color table,
.gray-whity-color thead,
.gray-whity-color tbody,
.gray-whity-color tr,
.gray-whity-color th,
.gray-whity-color td {
    background-color: #F1F2F3;/* Adjust color as needed */
}

.gray-whity-color,
.gray-whity-color > * {
    background-color: #f0f0f0; /* Adjust color as needed */
}


/**
colors 
*/
.custom-blue {
    background-color: hsl(210, 69%, 25%);
}

.custom-blue-2 {
    background-color: hsl(210, 69%, 19%);
}

.custom-blue-3 {
    background-color: hsl(210, 69%, 35%);
}

.custom-green {
    background-color: #006600;
}
.custom-red {
    background-color: #7C0A02;
}
.blue-text {
    color: hsl(210, 69%, 19%);
}
/*buttons */
.custom-button {
    color: #f0f0f0;
}

