/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import 'quill/dist/quill.snow.css';

html,
body {
    background-color: #f0f0f0 !important;
    /* Adjust color as needed */
}

/**
colors 
*/
.custom-blue {
    background-color: hsl(210, 69%, 25%) !important;
}

.custom-blue-2 {
    background-color: hsl(210, 69%, 19%) !important;
}

.custom-blue-3 {
    background-color: hsl(210, 69%, 35%) !important;
}

.custom-green {
    background-color: #006600 !important;
}
.custom-red {
    background-color: #7C0A02 !important;
}

.custom-yellow{
    background-color: #f8990a !important;
}


.blue-text {
    color: hsl(210, 69%, 19%);
}
.green-text{
    color: #006600 !important;
}
.red-text{
    color: #7C0A02 !important;
}
/*buttons */
.custom-button {
    color: #f0f0f0 !important;
}




.custom-gray-white table,
.custom-gray-white thead,
.custom-gray-white tbody,
.custom-gray-white tr,
.custom-gray-white th,
.custom-gray-white td {
    background-color: #F1F2F3;/* Adjust color as needed */
}

.custom-gray-white,
.custom-gray-white > * {
    background-color: #f0f0f0; /* Adjust color as needed */
}




